body {
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
}

.container {
    height: 800px;
    width: 500px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    padding-top: 50px;
    gap: 20px;
}

.title {
    margin-bottom: 50px;
}